<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Juan Enrique Aguirre López y Jesús Daniel Castillo Hernández.

**Fecha:** 1ro de Septimebre del 2020.

**Expediente** : IF722664, IF698367.
**Profesor:** Oscar David Jaramillo Zuluaga.

# Tarea 2: Clase 4

Link para ir al respositorio: https://github.com/Juanenriquea/Tareas_SIMMAT_JEAGUIRRE_JDCASTILLO

### Solución de Juan Enrique

### Tarea:

1. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![imagen.png](attachment:imagen.png)
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`
           
2. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

3. Resolver los anteriores ejercicios usando pandas (DataFrame)

In [1]:
import numpy as np
import time,math 
import matplotlib.pyplot as plt
import pandas as pd
from functools import reduce

In [7]:
# Problema 1
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

p = lambda x,y: x*y
def increase(value):
    if (value<100):
        value += 10
    return value

x = list(map(increase, [p(orders[i][2], orders[i][3]) for i in np.arange(len(orders))]))
result = list(map(lambda x, y: (x[0], y), orders, x))
result

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

In [8]:
# Problema 1, Usando Pandas

orders_pd = pd.DataFrame({'Número de pedido': [34587, 98762, 77226, 88112], 
          'Titulo y Autor': ["Learning Python, Mark Lutz", "Programming Python, Mark Lutz", "Head First Python, Paul Barry", 
                                                                               "Einführung in Python3, Bernd Klein"],  
          'Cantidad': [4, 5, 3, 3], 'Precio': [40.95, 56.80, 32.95, 24.99]})
orders_pd

orders_pd['Precio'] = orders_pd['Precio'].astype('float64')
orders_pd['Cantidad'] = orders_pd['Cantidad'].astype('float64')

pre = pd.DataFrame({'Número de Pedido': [34587, 98762, 77226, 88112], 'Costo total': [1,2,3,4]})

pre['Costo total'] = pre['Costo total'].astype('float64')

#def func1(pre):
#    if orders_pd['Cantidad']*orders_pd['Precio'] < 100:
#        pre['Costo total'][i] += 10 
        
for i in range(4):
    if orders_pd['Cantidad'][i]*orders_pd['Precio'][i] < 100:
        pre['Costo total'][i] = orders_pd['Cantidad'][i]*orders_pd['Precio'][i] +10
    else:
        pre['Costo total'][i] = orders_pd['Cantidad'][i]*orders_pd['Precio'][i]

pre

<ipython-input-8-0c36aeefa08b>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre['Costo total'][i] = orders_pd['Cantidad'][i]*orders_pd['Precio'][i]
<ipython-input-8-0c36aeefa08b>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre['Costo total'][i] = orders_pd['Cantidad'][i]*orders_pd['Precio'][i] +10

   Número de Pedido  Costo total
0             34587       163.80
1             98762       284.00
2             77226       108.85
3             88112        84.97

In [10]:
# Problema 2

orders2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

def increase(value):
    if (value<100):
        value += 10
    return value

r22 = list(map(lambda x: (x[0], sum(list(map(lambda y: increase(y[1]*y[2]), x[1:])))), orders2))
r22

[(1, 688.3299999999999),
 (2, 504.46000000000004),
 (3, 374.79999999999995),
 (4, 502.57)]

In [9]:
# Problema 2 con Pandas
orders2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]
orders2_pd = pd.DataFrame(orders2)
orders2_pd = orders2_pd.fillna(0)

pre2 = pd.DataFrame({'Número de Pedido': [1, 2, 3, 4], 'Costo total 1': [1.0,2.0,3.0,4.0], 'Costo total 2': [1.0,2.0,3.0,4.0], 'Costo total 3': [1.0,0.0,0.0,4.0]})


for j in range(0,4):
    if orders2_pd[1][j][1]*orders2_pd[1][j][2] < 100:
        pre2['Costo total 1'][j] = orders2_pd[1][j][1]*orders2_pd[1][j][2] + 10
    else:
        pre2['Costo total 1'][j] = orders2_pd[1][j][1]*orders2_pd[1][j][2]

for j in range(0,4):
    if orders2_pd[2][j][1]*orders2_pd[2][j][2] < 100:
        pre2['Costo total 2'][j] = orders2_pd[2][j][1]*orders2_pd[2][j][2] + 10
    else:
        pre2['Costo total 2'][j] = orders2_pd[2][j][1]*orders2_pd[2][j][2]

for j in range(0,4,3):
    if orders2_pd[3][j][1]*orders2_pd[3][j][2] < 100:
        pre2['Costo total 3'][j] = orders2_pd[3][j][1]*orders2_pd[3][j][2] + 10
    else:
        pre2['Costo total 3'][j] = orders2_pd[3][j][1]*orders2_pd[3][j][2]
        
pre2

<ipython-input-9-b5ca0d6fef09>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre2['Costo total 1'][j] = orders2_pd[1][j][1]*orders2_pd[1][j][2] + 10
<ipython-input-9-b5ca0d6fef09>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre2['Costo total 2'][j] = orders2_pd[2][j][1]*orders2_pd[2][j][2]
<ipython-input-9-b5ca0d6fef09>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre2['Costo total 3'][j] = orders2_pd[3][j][1]*orders2_pd[3][j][2]

   Número de Pedido  Costo total 1  Costo total 2  Costo total 3
0                 1          49.96         233.82         404.55
1                 2          99.91         404.55           0.00
2                 3          99.91         274.89           0.00
3                 4          93.93         208.89         199.75

4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`listaaa='the notion of a lambda function goes all the way back to the origin of computer science'`

In [2]:
lista4 = 'the notion of a lambda function goes all the way back to the origin of computer science'

#def m(n):    
#    if len(n) >= 4:  
#        return True     ESTA ERA PARA EN VES DE USAR EL LAMBDA, PONER 'm', AHI
    
list_new = lista4.split()
list_new
risa = list(filter(lambda x: len(x)>=4, list_new))
risa

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [3]:
########### Solución 5
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
print(temperatures)

[ 35.97387961  99.13294268  92.6178302   99.69549478  63.21119535
  73.90387697  95.50028838  99.21476553  36.98251238 101.45813729
 100.5917418   89.38159435  89.52156589  83.8084752   28.37990868
  68.75395211  45.86132067  36.58307493  56.32208365  33.96219302
  45.29071318  74.86289938  66.51091383  88.19316186  94.26635864
  46.83131624 109.60744472 109.68427993  44.55796499  92.84146259]

In [4]:
# Problema 5
sol5 = list(filter(lambda num: 30<num<80, temperatures))
sol5

[35.97387961379455,
 63.211195349983264,
 73.90387696517755,
 36.982512376595906,
 68.75395211338406,
 45.86132066984196,
 36.58307493022292,
 56.322083650154724,
 33.9621930206693,
 45.29071317816652,
 74.86289938282341,
 66.51091382521807,
 46.831316244170544,
 44.55796498523391]

6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [5]:
########### Solución 6
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
print(point_xy)

[[17 97]
 [22 33]
 [37 46]
 [57 28]
 [11 25]
 [14  2]
 [74 16]
 [12 37]
 [35 21]
 [66 65]
 [86 58]
 [67 81]
 [ 0 48]
 [28 66]
 [76 22]
 [46 47]
 [64  7]
 [88 94]
 [65 13]
 [75 89]
 [23 17]
 [36 63]
 [62 36]
 [64 17]
 [18 19]
 [88 41]
 [21 49]
 [98 36]
 [81 73]
 [62 90]]

In [6]:
# Problema 6
sol5 = list(np.minimum.reduce(point_xy))
sol5

[0, 2]

### Solución de Jesús Daniel

In [ ]:
## PROBLEMA 1

#Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2.
#Cada tupla consiste en el número de pedido y el costo total del pedido.
#El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.
#Escribe un programa Python usando unicamente las funciones lambda y map.

orders1 = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]


sol1 = list(map(lambda x: (x[0], x[2]*x[3]) if x[2]*x[3] >= 100 else (x[0], x[2]*x[3]+10), orders1))
sol1

In [ ]:
## PROBLEMA 2

#Escriba un programa que devuelva una lista de dos tuplas que tengan la información de:
#(número de pedido, cantidad total de pedido).
#Utilice la función Reduce.
#Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

from functools import reduce

orders2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

def comision(x):
    if (x<100):
        x += 10
    return x

sol2 = reduce(lambda x: (x[0], x[1](*y[2])

In [ ]:
## PROBLEMA 3

#Resolver los anteriores ejercicios usando pandas (DataFrame)

import pandas as pd

df_orders = pd.DataFrame(orders1)
df_orders[4] = df_orders[2]*df_orders[3]

def increase(value):
    if (value<100):
        value += 10
    return value

df_orders[5] = df_orders[4].apply(increase)
df_orders = df_orders.drop(df_orders.columns[[1, 2, 3, 4]], axis=1)
df_orders

In [ ]:
## PROBLEMA 4

#Use filter to eliminate all words that are shorter than 4 letters from a list of words

string = 'the notion of a lambda function goes all the way back to the origin of computer science'
string = string.split()

sol4 = list(filter(lambda x: len(x) >= 4, string))
sol4

In [ ]:
## PROBLEMA 5

#Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)


sol5 = filter(lambda x: 30<x<80, temperatures)
sol5

In [ ]:
## PROBLEMA 6

#Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations

np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])

sol6 = np.minimum.reduce(point_xy)
sol6